.App {
  text-align: center;
}

h1 {
  margin-bottom: 50px;
}

label {
  margin-left: 4px;
}

button {
  margin-left: 4px;
}

.create-panel {
  margin-bottom: 32px;
}

.update-modal {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 45px);
  width: 50vw;
  height: 33vw;
  background-color: moccasin;
  border-radius: 8px;
}
